langchain_chroma==0.2.2
langchain_community==0.3.19
langchain_core==0.3.41
langchain_openai==0.3.7
neo4j==5.27.0
numpy
streamlit==1.41.1
faiss-cpu
opencv-python-headless
streamlit_image_comparison
st_annotated_text